<footer class="fixed bottom-0 left-0 w-full bg-white border-t border-gray-200 py-3 px-6 md:hidden z-50">
	<div
		class="flex justify-around items-center text-2xl">

		{# HOME #}
		<a href="{{ path('app_main') }}" class="flex flex-col items-center
																				           {% if app.request.attributes.get('_route') == 'app_main' %}
																				               text-blue-600
																				           {% else %}
																				               text-blue-400 opacity-60
																				           {% endif %}
																				           ">
			<i class="bi bi-house"></i>
		</a>

		{# REGISTER #}
		<a href="{{ path('app_register') }}" class="flex flex-col items-center
																				           {% if app.request.attributes.get('_route') == 'app_register' %}
																				               text-blue-600
																				           {% else %}
																				               text-blue-400 opacity-60
																				           {% endif %}
																				           ">
			<i class="bi bi-person-plus"></i>
		</a>

		{# LOGIN #}
		<a href="{{ path('app_login') }}" class="flex flex-col items-center
							{% if app.request.attributes.get('_route') == 'app_login' %}
								text-blue-600
								{% else %}
							text-blue-400 opacity-60
							{% endif %}
							">
			<i class="bi bi-lock"></i>
		</a>

	</div>
</footer>
